*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1200px;
    background-color: black;
}
.header{
    background-image: url(./img/img.jfif);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.manu {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid greenyellow ;
    display: flex;
}
.logo{
    height: 71px;
    margin: 5px;
}
.logo img{
    height:100%;
    width: 100%;
}
.m-bar{
    width: 90%;
}
.m-b-1{
    float: right;
    padding: 24px;
}
 a{
    font-size: 25px ;
    color: black;
    background-color: #a89696;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    transition: .6s;

}
a:hover {
    background-color: black;
    color: white;

}
.title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-55%,-47%);
}
 h1 {
    font-size: 40px;
}
p{
    width: 410px;
}
button{
    transform: translate(0%,88%);
    font-size: 27px;
    border-radius: 50px;
    padding-right: 19px;
    padding-left: 19px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #5a5d7b;
    color: white;
    transition: .6s;
}
button:hover{
    background-color: white;
    color: black;
}
